.bold{
    font-weight: bold;
}

.originalZone{
    width: 55%;
    margin-bottom: 29px;
}

.resultImg {
    width: 100%;
}

.testResult{
    display: flex;
    justify-content: flex-start;
}

.resultP {
    padding: 0;
    margin: 0;
}

.resultText{
    padding-top: 26px;
    padding-bottom: 50px;
    width: 25%;
}

.resultPOriginalZone{
    margin-top: 0;
}

.contentResult{
    display: flex;
    justify-content: flex-start;
    margin-bottom: -20px;
}

.singleResult{
    width: 25%;
}

.ErrorMessage{
    padding: 5%;
    color: red;
}
