.bold{
    font-weight: bold;
}

.originalZone{
    width: 55%;
    margin-bottom: 29px;
}

.resultImg {
    width: 100%;
}

.resultP {
    padding: 0;
    margin: 0;

}

.resultText{
    padding-top: 28px;
    padding-bottom: 46px;
}

.resultPOriginalZone{
    margin-top: 0;
}

.contentResult{
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
}

.singleResult{
    width: 25%;
}
