.ItemList {
  list-style-type: none;
  text-align: left;
  padding-top: 3px;
  margin-left: -10%;
  margin-top: 0.5em;
}

.ItemList:hover {
  text-decoration: underline;
  cursor: pointer;
}

.FolderTitle {
  text-align: left;
  font-size: 20px;
}

.FolderTitle:hover {
  text-decoration: underline;
  cursor: pointer;
}
