.ItemList{
    list-style-type: none;
    text-align: left;
    padding-top: 3px;
    margin-left: -10%;
}

.ItemList:hover{
    text-decoration: underline;
    cursor: pointer;
}

.CenterTitle{
    text-align: left;
    font-size: 20px;
}

.CenterTitle:hover{
    text-decoration: underline;
    cursor: pointer;
}

