.App {
  text-align: center;
  margin-top: 50px;
}

.pageContent{
  display: flex;
  justify-content: space-between;
}

.OSDViewer{
  padding-left: 1.5%;
  padding-top: 1%;
  width: 800px;
}

.MenuSelection{
  width: 30%;
}
