.App {
  text-align: center;
  margin-top: 60px;
}

.pageContent{
  display: flex;
  justify-content: space-between;
}

.OSDViewer{
  padding-left: 2%;
  padding-top: 1%;
  width: 70%;
}

.MenuSelection{
  width: 30%;
}
